p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}
body {
    font-family: 'Share Tech', sans-serif;
    font-size: 68px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("images/126067616-heart-background-seamless-vector-pattern-red-hearts-on-pink-backdrop.jpg?random=323527528432525.24234"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}