p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}
body {
    font-family: 'Share Tech', sans-serif;
    font-size: 68px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url(pexels-felix-mittermeier-4644813.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}